@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');

.main-header {
	transition: background-color 0.4s ease;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 9.25)), url("../img/bg-header.jpg");
  background-size: 100% 100%;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
}

.bars {
  color: rgb(68, 106, 68);
  font-size: 40px;
  font-family: 'Cedarville Cursive', cursive;
}

.logo {
  font-family: 'Roboto', sans-serif;
}

.explore-button-cont {
  border: 2px solid rgb(68, 106, 68);
	width: 175px;
}
.explore-button {
	color: #000;
	text-decoration: none;
	background-color: rgb(68, 106, 68);
	font-size: 40px;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}

.explore-button:hover {
	transition: all ease-in-out 0.4s;
  text-decoration: underline rgb(88, 136, 88);
  color: #fff;
}

.colorbottom {
  background: linear-gradient(to right, rgb(88, 136, 88), rgb(248, 248, 27) , rgb(88, 136, 88));
	height: 5px;
}

.first-arcticle {
  background: rgb(221, 221, 221);
	display: grid;
	grid-template-columns: auto;
	flex-direction: column;
	letter-spacing: 1px;
}

.second-article {
  background: #fff;
	display: flex;
	flex-direction: column;
}

.second-article-section {
	border: 7px solid rgb(88, 136, 88);
	background: rgb(88, 136, 88);
	border-radius: 20px 10px 20px 10px;
	height: 100%;
	width: 100%;
	background: url("../img/abtimg.jpg");
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.second-article-section-img {
	height: 200px;
}

.second-article-aside {
  padding-left: 10px;
	padding-top: 20px;
}

.learnmore-button-cont {
  border: 2px solid rgb(68, 106, 68);
	width: 190px;
	text-align: center;
}

.learnmore-button {
	color: #000;
	text-decoration: none;
	background-color: rgb(68, 106, 68);
	font-size: 30px;
	max-width: 100%;
	max-height: 100%;
	padding: 1px;
}

.learnmore-button:hover {
	transition: all ease-in-out 0.4s;
  text-decoration: underline rgb(88, 136, 88);
  color: #fff;
}

.products {
  background: rgb(79, 79, 79);
	padding: 50px;
	display: grid;
	grid-template-columns: auto;
	column-gap: 80px;
}

.first-card {
	font-family: 'Recursive', sans-serif;
}

.inventory-button-cont {
  border: 2px solid rgb(68, 106, 68);
	width: 180px;
	text-align: center;
}

.inventory-button {
	color: #000;
	text-decoration: none;
	background-color: rgb(68, 106, 68);
	font-size: 30px;
	max-width: 100%;
	max-height: 100%;
	padding: 1px;
}

.inventory-button:hover {
	transition: all ease-in-out 0.4s;
  text-decoration: underline rgb(88, 136, 88);
  color: #fff;
}

.products-img {
	border-radius: 20px;
	width: 300px;
	height: 200px;
}

.cash {
  color: rgb(68, 106, 68);
}



@media (min-width: 768px) and (max-width: 1023px) {
	.first-arcticle {
		grid-template-columns: auto auto;
	}

	.second-article {
		flex-direction: column;
	}

	.second-article-section {
		height: 306px;
		width: 450px;
	}

  .products {
    grid-template-columns: auto auto;
  }

  .first-card {
    grid-column: 1/3;
	}
}

@media only screen and (min-width: 1024px) {
	.first-arcticle {
		grid-template-columns: auto auto auto auto;
	}

	.second-article {
		flex-direction: row;
		margin: 50px;
	}

  .second-article-section {
		height: 306px;
		width: 750px;
    margin-left: 40px;
	}

	.second-article-aside {
		padding-left: 70px;
	}

	.products {
		grid-template-columns: auto 200px 200px 200px;
	}
}